/* ■■■■■■■■■■■ */
/* Animation.scssアニメーション調整 */
/* ■■■■■■■■■■■ */


.home {
    animation-name: loadfad;
    animation-duration: 2s;
    animation-iteration-count: 1;}

@keyframes loadfad {
from {opacity: 0;}
    
    to {opacity: 1;}}














.loadfade {
    animation-name: loadfad;
    animation-duration: 2s;
    animation-iteration-count: 1;}

@keyframes loadfad {
from {opacity: 0;}
    
    to {opacity: 1;}}






  

    


          .a-mv-fade3{
            animation-name: fad3;
            animation-duration: 2.2s;
            animation-iteration-count: 1;
			  
            animation-delay:.5s;
			  @include sp{animation-delay:3.2s;};
          animation-fill-mode: forwards;
          opacity: 0;}
        
        
          @keyframes fad3 {
            from {
              opacity: 0;
              transform: translateY(20px);}
            to {
              opacity: 1;
              transform: translateY(0);}}


              .a-mv-fade4{
                animation-name: fad4;
                animation-duration: 3s;
                animation-iteration-count: 1;
                     animation-delay:.7s;
			  @include sp{animation-delay:2s;};
              animation-fill-mode: forwards;
              opacity: 0;}
            
            
              @keyframes fad4 {
                from {
                  opacity: 0;
                  top:280%;
                  left: 40%;
                  transform: translateY(20px);}
                to {
                  opacity: 1;
                  transform: translateY(0);}}


   




.reflection{
display:inline-block;
position:relative;
overflow:hidden;
}
 
.reflection:after {
content:"";
height:100%;
width:4%;
position:absolute;
top:-180px;
left:0;
background-color: #aae8f6;
opacity:0;
-webkit-transform: rotate(45deg);
-webkit-animation: reflection 6s cubic-bezier(0.89, 0.12, 0.76, 0.88) infinite;

filter: blur(15px);
}
 
@keyframes reflection {
0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
100% { -webkit-transform: scale(80) rotate(45deg); opacity: 0; }
}


    






/*--------------------アニメーション調整--------------------*/

.fadein {
    opacity: 0;
    transform: translateY(120px);
    transition: all 1.3s;}

.fadein-y {
    opacity: 0;
    transform: translateX(180px);
    transition: all 1.5s;}

.fadein-y-l {
    opacity: 0;
    transform: translateX(-120px);
    transition: all 1.3s;}



/*.fadin {
    animation-name: fad;
    animation-duration: 2s;
    animation-iteration-count: 1;
	 animation-delay:1s;
	animation-fill-mode: forwards;}

@keyframes fad {
from {
    opacity: 0;
    transform: translateY(100px);}
to {
    opacity: 1;
    transform: translateY(0);}}
*/


.fadin2 {
    animation-name: fad2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay:1s;
    animation-fill-mode: forwards;}


@keyframes fad2 {
from {
    opacity: 0;
    transform: translateY(30px) translateX(30px);}
to {
    opacity: 1;
    transform: translateY(0) translateY(0px);}}



//1行ずつ
.fade-lag {
    opacity: 0;
    animation: fad-lag 1.5s ease forwards;
}
@keyframes fad-lag {
   from {
    opacity: 0;
    transform: translateY(20px);}
    
    to {
    opacity: 1;
    transform: translateY(0);}}

/*以下遅延の指定*/
.lag01 {animation-delay: .2s;}
.lag02 {animation-delay: .4s;}
.lag03 {animation-delay: .6s;}
.lag04 {animation-delay: .8s;}
.lag05 {animation-delay: 1s;}
.lag06 {animation-delay: 1.2s;}

/*以下遅延の指定*/
.a-delay-3s{animation-delay:3s;}


//順々フェードイン
.jj {
  opacity : 0;
}
  
.jj.active{
  opacity : 1;
    transition : all 1s;}


   .a-fader-jojo , .a-fader-jojo-l , .fader-full , .fader-l-full{opacity: 0;}


//右から徐々に表示

.migikara , .migikara-full {
  overflow: hidden;
  position: relative;
    opacity:1 !important;
}

.migikara:before {
	content: '';
	position: absolute;
	 z-index: 1;
	 top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	 background: #fff;
	 pointer-events: none;
  animation: migikara 2s cubic-bezier(.4, 0, .2, 1) forwards;}

@keyframes migikara {
  100% {transform: translateX(-100%);}
}



//左から徐々に表示
.hidarikara , .hidarikara-full  {
  overflow: hidden;
  position: relative;
    opacity:1 !important;
}

.hidarikara:before {
	content: '';
	 position: absolute;
	 z-index: 1;
	 top: 0;
	 left: 0;
	  bottom: 0;
	 right: 0;
	background: #fff;
	 pointer-events: none;
  animation: hidarikara 2s cubic-bezier(.4, 0, .2, 1) forwards;}

@keyframes hidarikara {
  100% {transform: translateX(100%);}
}

//徐々にフェード発動時間
.jojo-delay1s:before {animation-delay:1s;}
.jojo-delay15s:before {animation-delay:1.5s;}
.jojo-delay2s:before {animation-delay:2s;}
.jojo-delay3s:before {animation-delay:3s;}
.jojo-delay4s:before {animation-delay:4s;}
.jojo-delay5s:before {animation-delay:5s;}







.slide-animation{
    animation: fadezoom 8s 0s forwards;
    
}
@keyframes fadezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}







